configparser==3.7.1
editdistance==0.5.3
future==0.17.1
lxml==4.3.3
sciencebeam-alignment==0.0.2
git+https://github.com/elifesciences/sciencebeam-utils.git@upgrade-to-python-3#egg=sciencebeam-utils
six==1.12.0
tqdm==4.31.1
